<div th:fragment="art-charts" class="d-flex align-items-center justify-content-center mb-3 gap-2">
	<div class="card card-charts boder-principal">
		<div class="card-body">
			<div class="">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</div>

	<div class="card card-charts boder-principal">
		<div class="card-body">
			<div class="">
				<canvas id="myChart2"></canvas>
			</div>
		</div>
	</div>

	<div class="card card-charts boder-principal">
		<div class="card-body">
			<div class="">
				<canvas id="myChart3"></canvas>
			</div>
		</div>
	</div>
</div>