.plusButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  width: var(--plus_btn_sideLength);
  height: var(--plus_btn_sideLength);
  background-color: var(--bg-html-color) !important;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_btn_topRightTriangleSideLength) var(--plus_btn_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_btn_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_btn_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: var(--primary-color) !important;
  width: calc(var(--plus_btn_sideLength) * 0.7);
  height: calc(var(--plus_btn_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: var(--primary-color) !important;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: var(--primary-color) !important;
  transform: rotate(180deg);
}