html > body,
.offcanvas,
.offcanvas .offcanvas-body,
.offcanvas .offcanvas-header{
	background-color: var(--bg-html-color) !important;
	color: var(--primary-text-color) !important;
}

.container {
	width: var(--container-width) !important;
	max-width: var(--container-max-width) !important;
  	margin: 0 auto !important;
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

.text-secondary {
	color: var(--secondary-text-color) !important;
}

.text-primary {
	color: var(--primary-text-color) !important;
}

.bg-subprimary {
	background-color: var(--bg-html-subcolor) !important;
}

.bg-primary-btn {
	background-color: var(--primary-color) !important;
	color: var(--secondary-text-color) !important;
}

.tx-bold {
	font-weight: bold !important;
}

.border-principal {
	border-width: var(--border-principal-width) !important;
	border-style: var(--border-principal-style) !important;
	border-color: var(--border-principal-color) !important;
}

.border-left-principal {
	border-left-width: var(--border-principal-width) !important;
	border-left-style: var(--border-principal-style) !important;
	border-left-color: var(--border-principal-color) !important;
}

.border-right-principal {
	border-right-width: var(--border-principal-width) !important;
	border-right-style: var(--border-principal-style) !important;
	border-right-color: var(--border-principal-color) !important;
}

.border-bottom-principal {
	border-bottom-width: var(--border-principal-width) !important;
	border-bottom-style: var(--border-principal-style) !important;
	border-bottom-color: var(--border-principal-color) !important;
}

.border-top-principal {
	border-top-width: var(--border-principal-width) !important;
	border-top-style: var(--border-principal-style) !important;
	border-top-color: var(--border-principal-color) !important;
}

.offcanvas button.btn-offcanvas-close {
	background-color: transparent !important;
	text-decoration: none !important;
	cursor: pointer !important;
	border: none !important;
}

.offcanvas button.btn-offcanvas-close > span {
	font-size: var(--navbar-toggle-button-size) !important;
}

.offcanvas button.btn-offcanvas-close > span:hover {
	color: var(--primary-text-color-hover) !important;
}

.margin-top-at-navbar { 
	height: var(--calc-div-margin-top-at-navbar) !important;
}

.card,
.card .card-header p,
.card .card-header span,
.card .card-header h1,
.card .card-header h2,
.card .card-header h3,
.card .card-header h4,
.card .card-header h5,
.card .card-header h6,
.card .card-header a ,
.card .card-body p,
.card .card-body span,
.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6,
.card .card-body a,
.card .card-body table,
.card .card-body td,
.card .card-body tr,
.card .card-body thead,
.card .card-body tbody,
.card .card-body tfooter,
.modal .modal-content  { 
	border-radius: 0 !important;
	background-color: var(--bg-html-subcolor) !important;
	color: var(--primary-text-color) !important;
}

.full-width-img-div {
	grid-column: span 2 !important;
}

.responsive-flex-container {
	display: flex !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}

.responsive-grid-container {
    display: grid !important;
    gap: 1rem !important;
    width: 100% !important;
    box-sizing: border-box !important;
    grid-template-columns: repeat(3, 1fr); 
}

.full-width {
	width: 100% !important;
}

.full-heigth {
	height: 100% !important;
}

.tooltip {
	background-color: var(--tooltip-background-color) !important;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px;
	border-width: var(--border-principal-width) !important;
	border-style: var(--border-principal-style) !important;
	border-color: var(--border-principal-color) !important;
}

.form-label {
	font-size: var(--input-form-font-size) !important;
}

.form-input {
	background-color: var(--azul-bem-escuro) !important;
	color: var(--primary-text-color) !important;
	border: 0px !important;
	font-size: var(--input-form-font-size) !important;
	width: 100%;
	touch-action: pan-y !important;
	box-sizing: border-box !important;
	resize: none !important;
	padding: 10px 0px 10px 10px !important;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  font-size: 16px !important;
  color: var(--primary-text-color) !important;
  width: 100% !important;
  height: 40px !important;
}

.select-styled {
  position: absolute !important; 
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: var(--azul-bem-escuro-vidro) !important;
  padding: 8px 15px !important;
  transition: all 0.2s ease-in !important;
}

.select-styled:after {
  content:"" !important;
  width: 0 !important;
  height: 0 !important;
  border: 7px solid transparent !important;
  border-color: #fff transparent transparent transparent !important;
  position: absolute !important;
  top: 16px !important;
  right: 10px !important;
}

.select-styled:hover {
  background-color: #a73829;
}

.select-styled:active, 
.select-styled.active {
  background-color: #8b3125;
}

.select-styled:active:after, 
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--azul-bem-escuro-vidro) !important;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid var(--secondary-text-color) !important;
  transition: all 0.15s ease-in;
}

.select-options li:hover, 
.select-options li.is-selected {
  color: var(--secondary-text-color) !important;
  background: #fff;
}

.select-options li[rel="hide"] {
  display: none;
}
