:root {
	/* Cores */
	--branco: #FFF;
	--branco-hover: #AEAEAE;
	--cinza-claro: #CCCCCC;
	--azul-escuro: #0E0A28;
	--azul-escuro-vidro: rgba(45, 32, 130, 0.8);
	--azul-escuro-secundario: #191B31;
	--azul-bem-escuro: rgb(14, 15, 33);
	--azul-bem-escuro-vidro: rgba(14, 15, 33, 0.7);
	--branco-amarelado-pastel: rgb(245, 243, 194); 
	--branco-amarelado-pastel-hover: #E5E4BC;
	
	--bg-html-color: var(--azul-escuro);
	--bg-html-subcolor: var(--azul-escuro-secundario);
	--primary-text-color: var(--branco);
	--primary-text-color-hover: var(--branco-hover);
	--secondary-text-color: var(--bg-html-color);
	--primary-color: var(--branco-amarelado-pastel);
	--primary-color-hover: var(--branco-amarelado-pastel-hover);
	
	/* Bordas */
	-border-principal-color: var(--branco);
	--border-principal-style: solid;
	--border-principal-width: .4px;
	
	/* Medidas */
	--container-width: 90%;
	--container-max-width: 1450px;
	--navbar-height: 60px;
	--navbar-width: 100vw;
	--primary-link-button-height: 25px;
	--navbar-toggle-button-size: 40px;
	--navbar-brand-image-width: 45px;
	--navbar-brand-image-height: 45px;
	--navbar-padding-y: 0px;
	--navbar-background-color: rgba(14, 10,40, 0.7);
	--card-art-height: 300px;
	--tooltip-background-color: rgba(25, 27,49, 0.9);
	--card-badge-padding: 5px;
	--card-badge-content-size: 16px;
	--plus_btn_sideLength: 2.5rem;
  	--plus_btntopRightTriangleSideLength: 0.9rem;
  	--input-form-font-size: 0.875rem;
	
	/* calcs */
	--margin-top-at-navbar: 10px;
	--calc-div-margin-top-at-navbar: calc(var(--navbar-height) + var(--navbar-padding-y) + var(--margin-top-at-navbar));
	
}